<h1>Showing Article Details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>By: </strong><%= @article.user.username if @article.user %></p>
<p><strong>Created</strong> <%= time_ago_in_words(@article.created_at) %> ago</p>
<p><strong>Description: </strong><%= @article.description %></p>

<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to 'Edit', edit_article_path(@article) %> | 
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> | 
<% end %>
<%= link_to 'Return to articles listing', articles_path %>