<h1>See all of the Alpha Users</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Article Count</th>
            <th>Joined</th>
        </tr>

    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to gravatar_for(user, size: 150), user %></td>
                <td><%= link_to user.username, user %></td>
                <td><%= user.email %></td>
                <td><%= pluralize(user.articles.count, "article") %></td>
                <td>Joined <%= time_ago_in_words(user.created_at) %> ago</td>
                <% if logged_in? and current_user.admin? %>
                <td><%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.username} and all of their articles?"} %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate %>