<h1>Showing User Details for <%= @user.username %></h1>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>

<%= gravatar_for @user, size: 300 %>

<p><strong>Articles: </strong></p>

<%= render 'articles/articles_listing' %>

<p><%= will_paginate @articles %></p>

<p>
<%= link_to 'Edit Your Profile', edit_user_path(@user) %> | 
<% if logged_in? and current_user.admin? %>
    <%= link_to "Delete this user", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete #{@user.username} and all of their articles?"} %> | 
<% end %>
<%= link_to 'Return to articles listing', articles_path %>
</p>