<h1>Showing User Details for <%= @user.username %></h1>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>

<%= gravatar_for @user, size: 300 %>

<p><strong>Articles: </strong></p>

<%= render 'articles/articles_listing' %>

 
<p>
<%= link_to 'Edit Your Profile', edit_user_path(@user) %> | <%= link_to 'Return to articles listing', articles_path %>
</p>