<h1>Showing User Details for <%= @user.username %></h1>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>

<p><strong>Articles: </strong></p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>

    </thead>
    <tbody>
        <% @user.articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td><%= link_to 'Show', article_path(article) %></td>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

 
<p>
<%= link_to 'Edit Your Profile', edit_user_path(@user) %> | <%= link_to 'Return to articles listing', articles_path %>
</p>